:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --french-sky-blue: #89bbfe;
  --gunmetal: #0a2933;
  --flag-box-shadow: #505050;
  --dark-blue: rgba(43, 149, 185, 1);
  --navy: #001939;
  --positive: #3dbd73;
  --negative: #ff5a5a;
  --link-hover: #eaf3ff;
  --nav-background: #4D6F85;
  --nav-text: #F2F5F8;
  --nav-link: #CBD8E1;
  --nav-border: #7D9FB5;
  --max-width: 1100px;
  --page-background: #D8E2E9;
  --nav-link-hover: #97B2C3;
  --cta: #74add4;
  /* --globe-background: #3F2827; */
  --globe-background: #0F161A;
  --summer-background: #E7BEB1;
  --winter-background: #CEE8F2;
  --road: #E8E288;
  --ferry: #009FB7;
  --flight: #E6781E;
  --text: #13171a;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sofia Sans Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/sofia-sans-semi-condensed-v2-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/fonts/sofia-sans-semi-condensed-v2-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sofia-sans-semi-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sofia Sans Semi Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/sofia-sans-semi-condensed-v2-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('/fonts/sofia-sans-semi-condensed-v2-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.globe-background {
  background: linear-gradient(180deg, var(--globe-background) 0%, var(--globe-background) 50%, transparent 100%);
}

.globe-background.mobile {
  background: linear-gradient(180deg, var(--globe-background) 0%, var(--globe-background) 50%, rgba(77, 111, 133, 1) 75%, transparent 100%);
}

.globe-background.route-selected {
  background: linear-gradient(180deg, var(--globe-background) 0%, transparent 100%);
}


.stats {
  left: auto !important;
  right: 0 !important;
}

.globe-container {
  clip-path: circle(100%);
  transition: clip-path .6s;
}

.globe-container.clip-container {
  clip-path: circle(40%);
}

/* @media screen and (min-width: 1024px) {
  .globe-container.clip-container {
    right: 20%;
  }
} */