/node_modules/

/.cache

# dotenv environment variable files
.env*

# Mac files
.DS_Store

*.tsbuildinfo

/test-results/
/playwright-report/
/playwright/.cache/

## PEM-encoded certificate data
*.pem

# Sentry Config File
.sentryclirc

# Sentry Config File
.sentryclirc

# React Router
/.react-router/
/build/
